*,
*::after,
*::before{
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}
/*Section --- Header-Top --- Header*/
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo{
    margin-left: 16px;
}
.menu{
    margin-top: 16px;
}
.menu__list{
    display: flex;
}
.menu__item + .menu__item{
    margin-left: 30px;
}
.menu__link{
    text-transform: uppercase;
    font-weight: 500;
    color: #001e64;
    font-size: 18px;
    line-height: 21px;
}
.phone{
    margin-top: 11px;
    margin-right: 43px;
}
.menu__link:hover{
    border-bottom: 2px solid #001e64;
}
.header__content{
    background-image: url(../images/header-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    margin-top: -110px;
    min-height: calc(100vh - 50px);
}
.title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: #001e64;
    max-width: 589px;
    padding-top: 170px;
    padding-left: 112px;
    margin-bottom: 60px;
}
.header__slider{
    max-width: 522px;
    padding-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
}
.header__slider-text{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.slick-prev, 
.slick-next{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 40px;
}
.slick-prev{
    top: 0;
}
.slick-next{
    bottom: 0;
}
.slick-dots{
    list-style: none;
    position: absolute;
    left: 35px;
    top: 58px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slick-dots button{
    border: none;
    background-color: transparent;
    padding: 0;
    color:#FFFFFF;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.5;
    cursor: pointer;
}
.slick-active button{
    opacity: 1;
}
.slick-dots button::before{
    content: '0';
}
.slick-dots li:nth-child(n + 10) button::before{
    content: '';
}
.header__content-btn{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #FFF;
    font-size: 23px;
    line-height: 32px;
    padding: 14px 88px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.5);
    margin-left: 112px;
    display: inline-block;
    transform: translateY(-100px);
    position: absolute;
}
.header__content-btn:hover{
    background-color: #FFF;
    color: #001e64;
    transition: all 2s ease;
}
.header__content-box{
    display: flex;
    margin-left: 100%;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;   
}
.header__content-link--active{
    font-weight: 700;
}
/*Section --- Product*/
.product{
    padding-top: 100px;
}
.product__inner{
    display: flex;
    justify-content: space-between;
}
.product__name{
    width: 510px;
    text-align: center;
    padding-top: 41px;
}
.product_name-item{
    font-family: Roboto Slab;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #232222;
    cursor: pointer;
}
.product_name-item.slick-current{
    font-weight: 700px;
    font-size: 36px;
    color: #001e64;
}
.product_name-item + .product_name-item{
    margin-top: 30px;
}
.product-prev{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}
.product-prev,
.product-next{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.product__content{
    width: 600px;
}
.product__content-box{
    display: flex;
    justify-content: space-between;
}
.product__content-img{
    margin-bottom: 30px;
}
product__content-list{
    width: 291px;
}
.product__content-item{
    margin-bottom: 30px;
    list-style: none;
}
.product__content-item span{
    display: block;
    margin-bottom: 10px;
    color:#001e64;
}
.product_content-title{
    font-weight: 400;
    font-size: 24px;
    color:#001e64;
    margin-bottom: 20px;
}
.product__content-text{
    font-size: 16px;
    line-height: 19px;
    color: #232222;
    margin-bottom: 20px;
}
.product__content-btn{
    width: 300px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    padding: 10px 85px;
    border: 1px solid #001e64;
    border-radius: 20px;
    background-color: transparent;
    color: #001e64;
    cursor: pointer;
}
.product__content-btn:hover{
    background-color: #001e64;
    color: #FFF;
    transition: all 2s ease;
}
/*SeaFood*/
.seafood{
    background-image: url(/images/seafood-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 290px 0 95px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
}
.seafood__items{
    display: flex;
    justify-content: space-around;
}
.seafood__item{
    width: 180px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/images/seafood-img.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}
















